@model Student
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form asp-action="apply">
        <p>
        <label asp-for="Name">Adınız</label>
        <input asp-for="Name">
        
        </p>

        <p>
             <label asp-for="Email">Eposta</label>
            <input asp-for="Email">
        </p>
        <p><label asp-for="Phone">Telefon</label>
            <input asp-for="Phone">
            </p>
        <p>
            <label asp-for="Confirm">Kursa katılacak mısınız?</label>
            <select asp-for="Confirm">
                <option value="true">evet geliyorum </option>
                <option value="false">hayır gelmiyorum </option>
            </select>
        </p>
        <input type="submit" value="Submit">
    
    
    
    </form>
</body>
</html>